<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd"
             version="3.0">

<persistence-unit transaction-type="JTA" name="warehouse-persistence-unit">
<!--        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>-->
        <jta-data-source>java:jdbc/warehouseDataSource</jta-data-source>


        <!-- Список усіх класів сутностей проєкту -->
        <class>org.kharkiv.khpi.model.Car</class>
        <class>org.kharkiv.khpi.model.Goods</class>
        <class>org.kharkiv.khpi.model.Supplier</class>
        <class>org.kharkiv.khpi.model.Warehouse</class>
        <class>org.kharkiv.khpi.model.Transportation</class>
        <class>org.kharkiv.khpi.model.UserEntity</class>
        <!-- Список усіх класів сутностей проєкту -->

        <properties>
<!--                <property name="jakarta.persistence.schema-generation.database.action" value="drop-and-create"/>-->
        </properties>
</persistence-unit>
</persistence>