<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>Warehouse Web Project</display-name>
    <welcome-file-list>
        <!-- При зверненні до адреси http://localhost:8080/warehouse-web, вебконтейнер
            відкриє сторінку homePage.html -->
        <welcome-file>homePage.html</welcome-file>
    </welcome-file-list>

    <!-- Вмикаємо hot deploy у TomEE -->
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>development</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <!-- Прописуємо наш сервлет -->
    <servlet>
        <display-name>Goods Page Servlet</display-name>
        <servlet-name>GoodsServlet</servlet-name>
        <servlet-class>org.kharkiv.khpi.servlet.GoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Warehouse Page Servlet</display-name>
        <servlet-name>WarehouseServlet</servlet-name>
        <servlet-class>org.kharkiv.khpi.servlet.WarehouseServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Car Page Servlet</display-name>
        <servlet-name>CarServlet</servlet-name>
        <servlet-class>org.kharkiv.khpi.servlet.CarServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Transportation Page Servlet</display-name>
        <servlet-name>TransportationServlet</servlet-name>
        <servlet-class>org.kharkiv.khpi.servlet.TransportationServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Supplier Page Servlet</display-name>
        <servlet-name>SupplierServlet</servlet-name>
        <servlet-class>org.kharkiv.khpi.servlet.SupplierServlet</servlet-class>
    </servlet>

    <!-- Ставимо відповідність між сервлетом і URL'ом -->
    <servlet-mapping>
        <servlet-name>GoodsServlet</servlet-name>
        <url-pattern>/goods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarehouseServlet</servlet-name>
        <url-pattern>/warehouses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarServlet</servlet-name>
        <url-pattern>/cars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransportationServlet</servlet-name>
        <url-pattern>/transportations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierServlet</servlet-name>
        <url-pattern>/supplier</url-pattern>
    </servlet-mapping>
</web-app>